#images avec url
images/projects/find_the_button/level12.png
images/projects/find_the_button/Level13.png
images/projects/find_the_button/Level14.png
images/projects/find_the_button/pipes.gif
images/projects/find_the_button/temple.gif

# Unused
*.url
*.mp4
*.odt
*.pdf
test/*
organisation.txt
portfolio_part2.png